In [1]:
import pandas as pd
dataset = pd.read_excel('all6600.xlsx')
dataset.head()

  LABEL                                            COMMENT
0    EP                            You are very beautiful.
1    OT                                   Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬
2    EP                                               Nice
3    GM  Atali Sundar mam as bakuda jode nathi sobhati .
4    EP          Nice video jitu bhai Ã°Å¸ËœÅ Ã°Å¸ËœÅ Ã°Å¸Â¤Â£Ã°Å¸â€˜â€˜Ã°Å¸â€˜Ë†

In [2]:
#r = pd.read_excel['LABEL','cleaned']

# Hindi Labels Only

In [3]:
r =dataset[dataset['LABEL'].isin(['HM'])]
r.head()

    LABEL                                            COMMENT
109    HM                            VA ..... VA. KYA BAT HE
204    HM                               Bahut khub jitu bhay
214    HM                            Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr
234    HM  Sachi bat he jitu bhai AAP  ko call nahi kiya ...
257    HM                                         joks bhejo

In [4]:
import string
def clean_text(text):
       # text_nonpunct = [c for c in text if c not in string.punctuation]
        text_nonpunct ="".join([c for c in text if c not in string.punctuation])
        return text_nonpunct
    
r['comclean'] = r['COMMENT'].apply(lambda x: clean_text(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,LABEL,COMMENT,comclean
109,HM,VA ..... VA. KYA BAT HE,VA VA KYA BAT HE
204,HM,Bahut khub jitu bhay,Bahut khub jitu bhay
214,HM,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr
234,HM,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...
257,HM,joks bhejo,joks bhejo

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
cv1 = CountVectorizer(analyzer=clean_text)

X = cv1.fit_transform(r['COMMENT'])
print(X.shape)

(327, 174)

In [6]:
print(cv1.get_feature_names())

['\n', ' ', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'R', 'S', 'T', 'U', 'V', 'W', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '\x8d', 'Â¡', 'Â¢', 'Â£', 'Â¤', 'Â®', 'Â¯', 'Â´', 'Â¹', 'Ã ', 'Ã¡', 'Ã¢', 'Ã°', 'Å¸', 'Å½', 'Ëœ', 'à¤‚', 'à¤…', 'à¤†', 'à¤ˆ', 'à¤“', 'à¤•', 'à¤–', 'à¤—', 'à¤š', 'à¤›', 'à¤œ', 'à¤¡', 'à¤¤', 'à¤¥', 'à¤¦', 'à¤¨', 'à¤ª', 'à¤«', 'à¤¬', 'à¤®', 'à¤¯', 'à¤°', 'à¤²', 'à¤µ', 'à¤¸', 'à¤¹', 'à¤¼', 'à¤¾', 'à¤¿', 'à¥€', 'à¥', 'à¥‡', 'à¥ˆ', 'à¥‹', 'à¥¤', 'àª‚', 'àªˆ', 'àª‰', 'àª“', 'àª•', 'àª–', 'àª—', 'àª›', 'àªœ', 'àª¤', 'àª¥', 'àª¦', 'àª¨', 'àª«', 'àª¬', 'àª­', 'àª®', 'àª¯', 'àª°', 'àª²', 'àªµ', 'àª¸', 'àª¹', 'àª¾', 'à«€', 'à«‚', 'à«‡', 'à«ˆ', 'à«‹', 'à«', 'â€”', 'â€˜', 'â€™', 'â€š', 'â€¦', 'â‚¬', 'â„…', 'â„¢', 'âš”', 'âœŒ', 'â£', 'â¤', 'ğŸ¶', 'ğŸ†', 'ğŸ‘Œ', 'ğŸ˜‚', 'ğŸ˜„', 'ğŸ˜…', 'ğŸ˜‘', 'ğŸ˜“', 'ğŸ˜¢', 'ğŸ˜£', 'ğŸ˜¥', 'ğŸ˜­', 'ğŸ˜±', 'ğŸ˜µ', 'ğŸ˜·', 'ğŸ™', 'ğŸ¤©', 'ğŸ¥‡', 'ğŸ¥°']

In [7]:
import string
def clean_text(text):
        msg =[  '\u200d', 'â€“', 'â€”', 'â€˜', 'â€™', 'â€š', 
              'â€', 'â€', 'â€ ', 'â€¡', 'â€¢', 'â€¦', 'â€°', 'â€¹', 'â€º', 'â‚¬','â€', 'â€', 'â€ ', 'â€¡', 'â€¢', 'â€¦',
              'â€°', 'â€¹', 'â€º', 'â‚¬','\x81', '\x8d', '\x8f', '\x9d', 'Â£', 'Â¤', 'Â§', 'Âª', 'Â«', '\xad', 'Â®', 
              'Â°', 'Â³', 'Â¸', 'Âº', 'Â»', 'Â¾', 'Â¿', 'Ã‡', 'Ã ', 'Ã¢', 'Ã¯', 'Ã°', 'Ã±', 'Ã´', 'Å’', 'Å“', 'Å ', 'Å¸', 'Å¾', 
              'Æ’', 'Ë†', 'Ëœ', 'Ì½', 'Í“', '\u200d', 'â€“', 'â€˜', 'â€™', 'â€š', 'â€', 'â€¡', 'â€¦', 'â€¹', 'â‚¬', 'â€”', 'â€˜', 'â€™', 'â€š', 'â€¦',
              'â‚¬', 'â„…', 'â„¢', 'âš”', 'âœŒ', 'â£', 'â¤', 'ğŸ¶', 'ğŸ†', 'ğŸ‘Œ', 'ğŸ˜‚', 'ğŸ˜„', 'ğŸ˜…', 'ğŸ˜‘', 'ğŸ˜“', 'ğŸ˜¢', 'ğŸ˜£', 'ğŸ˜¥',
              'ğŸ˜­', 'ğŸ˜±', 'ğŸ˜µ', 'ğŸ˜·', 'ğŸ™', 'ğŸ¤©', 'ğŸ¥‡', 'ğŸ¥°'
              'â„¢', 'â„¹', 'â˜º', 'â™‚', 'â™¥', 'âš˜', 'âš°', 'âœŒ', 'âœ', 'âœ¨', 'â£', 'â¤', 'ï¸', 'ğŸ‡¦', 'ğŸ‡¨', 'ğŸ‡®', 'ğŸ‡¶', 'ğŸŒ', 'ğŸŒ·', 
              'ğŸŒ¸', 'ğŸŒ¹', 'ğŸº', 'ğŸ»', 'ğŸ‡', 'ğŸ‰', 'ğŸ™', 'ğŸ¤', 'ğŸ§', 'ğŸ©', 'ğŸ¬', 'ğŸµ', 'ğŸ¶', 'ğŸ', 'ğŸ»', 'ğŸ¼', 'ğŸ‘‡',
              'ğŸ‘‰', 'ğŸ‘Œ', 'ğŸ‘', 'ğŸ‘', 'ğŸ‘‘', 'ğŸ‘’', 'ğŸ‘•', 'ğŸ‘–', 'ğŸ‘¦', 'ğŸ‘ª', 'ğŸ’‹', 'ğŸ’', 'ğŸ’', 'ğŸ’“', 'ğŸ’”', 'ğŸ’•', 
              'ğŸ’–', 'ğŸ’—', 'ğŸ’˜', 'ğŸ’™', 'ğŸ’š', 'ğŸ’œ', 'ğŸ’', 'ğŸ’', 'ğŸ’¥', 'ğŸ’¯', 'ğŸ“', 'ğŸ”', 'ğŸ”¥', 'ğŸ˜€', 'ğŸ˜', 'ğŸ˜‚', 
              'ğŸ˜…', 'ğŸ˜‡', 'ğŸ˜‰', 'ğŸ˜Š', 'ğŸ˜‹', 'ğŸ˜Œ', 'ğŸ˜', 'ğŸ˜', 'ğŸ˜’', 'ğŸ˜”', 'ğŸ˜•', 'ğŸ˜—', 'ğŸ˜˜', 'ğŸ˜š', 'ğŸ˜œ', 'ğŸ˜¡',
              'ğŸ˜¢', 'ğŸ˜¥', 'ğŸ˜­', 'ğŸ˜°', 'ğŸ˜³', 'ğŸ˜»', 'ğŸ™‚', 'ğŸ™Œ', 'ğŸ™', 'ğŸš¹', 'ğŸ¤—', 'ğŸ¤˜', 'ğŸ¤Ÿ', 'ğŸ¤©', 'ğŸ¤ª', 'ğŸ¤´', 'ğŸ¤·',
              'ğŸ¥€', 'ğŸ¥ƒ', 'ğŸ¥‡', 'ğŸ¥°', 'ğŸ¥³', 'ğŸ¥º', 'ğŸ¦', 'ğŸ§¡'
              'â‚¹', 'â„¢', 'âˆš', 'â˜‘', 'â˜¹', 'â˜º', 'â™‚', 'â™¥', 'âœŒ', 'âŒ', 'â£', 'â¤', 'ï¸', 'ğŸ‡®', 
              'ğŸ‡³', 'ğŸŒ·', 'ğŸŒ¹', 'ğŸŒº', 'ğŸ¥', 'ğŸ»', 'ğŸ¼', 'ğŸ‘†', 'ğŸ‘‡', 'ğŸ‘Œ', 'ğŸ‘', 'ğŸ‘', 'ğŸ‘©', 
              'ğŸ’ƒ', 'ğŸ’‹', 'ğŸ’Œ', 'ğŸ’', 'ğŸ’“', 'ğŸ’”', 'ğŸ’•', 'ğŸ’–', 'ğŸ’˜', 'ğŸ’œ', 'ğŸ’', 'ğŸ’', 'ğŸ’¢', 
              'ğŸ’¥', 'ğŸ”¥', 'ğŸ”«', 'ğŸ–¤', 'ğŸ˜€', 'ğŸ˜', 'ğŸ˜‚', 'ğŸ˜ƒ', 'ğŸ˜„', 'ğŸ˜…', 'ğŸ˜†', 'ğŸ˜‡', 'ğŸ˜‰', 
              'ğŸ˜Š', 'ğŸ˜‹', 'ğŸ˜', 'ğŸ˜', 'ğŸ˜‘', 'ğŸ˜“', 'ğŸ˜”', 'ğŸ˜—', 'ğŸ˜˜', 'ğŸ˜š', 'ğŸ˜›', 'ğŸ˜œ', 'ğŸ˜', 
              'ğŸ˜', 'ğŸ˜¡', 'ğŸ˜¢', 'ğŸ˜¥', 'ğŸ˜©', 'ğŸ˜«', 'ğŸ˜­', 'ğŸ˜®', 'ğŸ˜±', 'ğŸ˜²', 'ğŸ™‚', 'ğŸ™ƒ', 'ğŸ™„', 'ğŸ™Œ',
              'ğŸ™', 'ğŸš’', 'ğŸš¶', 'ğŸ›', 'ğŸ¤“', 'ğŸ¤”', 'ğŸ¤—', 'ğŸ¤˜', 'ğŸ¤¡', 'ğŸ¤£', 'ğŸ¤¦', 'ğŸ¤©', 'ğŸ¤¯', 'ğŸ¥€', 'ğŸ¦', 'ğŸ§¡',
             '\x81', '\x8d', '\x8f', '\x9d', '\xa0', 'Â¡', 'Â£', 'Â¤', 'Â¦', 'Â§', 'Â¨', 'Âª', 'Â«', 'Â¬', 'Â®', 'Â¯', 'Â°',
              'Â²', 'Âµ', 'Â¸', 'Â¹', 'Âº', 'Â»', 'Â¾', 'Â¿', 'Ã—', 'Ã ', 'Ã¡', 'Ã¢', 'Ã°', 'Ä‘', 'Äº', 'Å’', 'Å“', 'Å ', 
              'Å¡', 'Å¸', 'Å½', 'Ë†', 'Ëœ',]
       # text_nonpunct = [c for c in text if c not in string.punctuation]
        text_nonpunct ="".join([c for c in text if c not in msg])
        return text_nonpunct
    
r['cleaned'] = r['comclean'].apply(lambda x: clean_text(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned
109,HM,VA ..... VA. KYA BAT HE,VA VA KYA BAT HE,VA VA KYA BAT HE
204,HM,Bahut khub jitu bhay,Bahut khub jitu bhay,Bahut khub jitu bhay
214,HM,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se 1 nambr
234,HM,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...
257,HM,joks bhejo,joks bhejo,joks bhejo

In [8]:
'''
import string
def clean_text(text):
        msg =['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'à«¦', 'à«§', 'à«¨', 'à«©', 'à«ª', 'à««', 'à«¬', 'à«­', 'à«®', 'à«¯',
              'àª…', 'àª†', 'àª‡', 'àªˆ', 'àª‰', 'àªŠ', 'àª', 'àª', 'àª‘', 'àª“','àª•', 'àª–', 'àª—', 'àª˜', 'àª™', 'àªš', 'àª›', 'àªœ',
              'àª', 'àª', 'àªŸ', 'àª ', 'àª¡', 'àª¢', 'àª£', 'àª¤', 'àª¥', 'àª¦', 'àª§', 'àª¨', 'àªª', 'àª«', 'àª¬', 'àª­', 'àª®', 'àª¯', 'àª°',
              'àª²', 'àª³', 'àªµ', 'àª¶', 'àª·', 'àª¸', 'àª¹','àª¼', 'àª¾', 'àª¿', 'à«€', 'à«', 'à«‚', 'à«ƒ', 'à«…', 'à«‡', 'à«ˆ', 'à«‰', 'à«‹', 'à«Œ', 'à«',
                'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 
              'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 
              'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'à¤•', 'à¤–', 'à¤—', 'à¤˜', 'à¤š', 'à¤›',
              'à¤œ', 'à¤', 'à¤Ÿ', 'à¤ ', 'à¤¡', 'à¤¢', 'à¤£', 'à¤¤', 'à¤¥', 'à¤¦', 'à¤§', 'à¤¨', 'à¤ª', 'à¤«', 'à¤¬', 'à¤­', 'à¤®', 'à¤¯', 'à¤°', 
              'à¤²', 'à¤µ', 'à¤¶', 'à¤·', 'à¤¸', 'à¤¹',]
       # text_nonpunct = [c for c in text if c not in string.punctuation]
        text_nonpunct ="".join([c for c in text if c not in msg])
        return text_nonpunct
    
r['cleaned'] = r['comclean'].apply(lambda x: clean_text(x))
r.head()
'''

'\nimport string\ndef clean_text(text):\n        msg =[\'0\', \'1\', \'2\', \'3\', \'4\', \'5\', \'6\', \'7\', \'8\', \'9\', \'à«¦\', \'à«§\', \'à«¨\', \'à«©\', \'à«ª\', \'à««\', \'à«¬\', \'à«­\', \'à«®\', \'à«¯\',\n              \'àª…\', \'àª†\', \'àª‡\', \'àªˆ\', \'àª‰\', \'àªŠ\', \'àª\', \'àª\', \'àª‘\', \'àª“\',\'àª•\', \'àª–\', \'àª—\', \'àª˜\', \'àª™\', \'àªš\', \'àª›\', \'àªœ\',\n              \'àª\', \'àª\', \'àªŸ\', \'àª \', \'àª¡\', \'àª¢\', \'àª£\', \'àª¤\', \'àª¥\', \'àª¦\', \'àª§\', \'àª¨\', \'àªª\', \'àª«\', \'àª¬\', \'àª­\', \'àª®\', \'àª¯\', \'àª°\',\n              \'àª²\', \'àª³\', \'àªµ\', \'àª¶\', \'àª·\', \'àª¸\', \'àª¹\',\'àª¼\', \'àª¾\', \'àª¿\', \'à«€\', \'à«\', \'à«‚\', \'à«ƒ\', \'à«…\', \'à«‡\', \'à«ˆ\', \'à«‰\', \'à«‹\', \'à«Œ\', \'à«\',\n                \'a\', \'b\', \'c\', \'d\', \'e\', \'f\', \'g\', \'h\', \'i\', \'j\', \'k\', \'l\', \'m\', \'n\', \'o\', \'p\', \'q\', \'r\', \'s\', \'t\', \n              \'u\', \'v\', \'w\', \'x\', \'y\', \'z\', \'A\', \'B\', \'C\', \'D\', \'E\', \'F\', \'G\', \'H\', \'I\', \'J\', \'K\', \'L\', \'M\', \n              \'N\', \'O\', \'P\', \'Q\', \'R\', \'S\', \'T\', \'U\', \'V\', \'W\', \'X\', \'Y\', \'Z\', \'à¤•\', \'à¤–\', \'à¤—\', \'à¤˜\', \'à¤š\', \'à¤›\',\n              \'à¤œ\', \'à¤\', \'à¤Ÿ\', \'à¤ \', \'à¤¡\', \'à¤¢\', \'à¤£\', \'à¤¤\', \'à¤¥\', \'à¤¦\', \'à¤§\', \'à¤¨\', \'à¤ª\', \'à¤«\', \'à¤¬\', \'à¤­\', \'à¤®\', \'à¤¯\', \'à¤°\', \n              \'à¤²\', \'à¤µ\', \'à¤¶\', \'à¤·\', \'à¤¸\', \'à¤¹\',]\n       # text_nonpunct = [c for c in text if c not in string.punctuation]\n        text_nonpunct ="".join([c for c in text if c not in msg])\n        return text_nonpunct\n    \nr[\'cleaned\'] = r[\'comclean\'].apply(lambda x: clean_text(x))\nr.head()\n'

In [9]:
#create feture: message length
r['sen_len1'] = r['COMMENT'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1
109,HM,VA ..... VA. KYA BAT HE,VA VA KYA BAT HE,VA VA KYA BAT HE,23
204,HM,Bahut khub jitu bhay,Bahut khub jitu bhay,Bahut khub jitu bhay,20
214,HM,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se 1 nambr,23
234,HM,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,71
257,HM,joks bhejo,joks bhejo,joks bhejo,10

In [10]:
#create feture: message length
r['sen_len2'] = r['comclean'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2
109,HM,VA ..... VA. KYA BAT HE,VA VA KYA BAT HE,VA VA KYA BAT HE,23,17
204,HM,Bahut khub jitu bhay,Bahut khub jitu bhay,Bahut khub jitu bhay,20,20
214,HM,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se 1 nambr,23,23
234,HM,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,71,71
257,HM,joks bhejo,joks bhejo,joks bhejo,10,10

In [11]:
#create feture: message length
r['sen_len3'] = r['cleaned'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2,sen_len3
109,HM,VA ..... VA. KYA BAT HE,VA VA KYA BAT HE,VA VA KYA BAT HE,23,17,17
204,HM,Bahut khub jitu bhay,Bahut khub jitu bhay,Bahut khub jitu bhay,20,20,20
214,HM,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se 1 nambr,23,23,15
234,HM,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,71,71,71
257,HM,joks bhejo,joks bhejo,joks bhejo,10,10,10

In [12]:
import re
def tokenize(txt):
    token = re.split('\s+',txt)
    return token

r['tokens'] = r['cleaned'].apply(lambda x: tokenize(x.lower()))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2,sen_len3,tokens
109,HM,VA ..... VA. KYA BAT HE,VA VA KYA BAT HE,VA VA KYA BAT HE,23,17,17,"[va, va, kya, bat, he]"
204,HM,Bahut khub jitu bhay,Bahut khub jitu bhay,Bahut khub jitu bhay,20,20,20,"[bahut, khub, jitu, bhay]"
214,HM,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se Ã°Å¸â€˜ÂÃ°Å¸â€™Â¯ 1 nambr,Sab se 1 nambr,23,23,15,"[sab, se, 1, nambr]"
234,HM,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,Sachi bat he jitu bhai AAP ko call nahi kiya ...,71,71,71,"[sachi, bat, he, jitu, bhai, aap, ko, call, na..."
257,HM,joks bhejo,joks bhejo,joks bhejo,10,10,10,"[joks, bhejo]"

In [13]:
len(r['tokens'].sum())

2928

In [14]:
r.shape

(327, 8)

In [ ]:
r.to_excel("OT322.xlsx")

In [ ]:

import string
def clean_text(text):
        msg =['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'à«¦', 'à«§', 'à«¨', 'à«©', 'à«ª', 'à««', 'à«¬', 'à«­', 'à«®', 'à«¯',
              'àª…', 'àª†', 'àª‡', 'àªˆ', 'àª‰', 'àªŠ', 'àª', 'àª', 'àª‘', 'àª“','àª•', 'àª–', 'àª—', 'àª˜', 'àª™', 'àªš', 'àª›', 'àªœ',
              'àª', 'àª', 'àªŸ', 'àª ', 'àª¡', 'àª¢', 'àª£', 'àª¤', 'àª¥', 'àª¦', 'àª§', 'àª¨', 'àªª', 'àª«', 'àª¬', 'àª­', 'àª®', 'àª¯', 'àª°',
              'àª²', 'àª³', 'àªµ', 'àª¶', 'àª·', 'àª¸', 'àª¹','àª¼', 'àª¾', 'àª¿', 'à«€', 'à«', 'à«‚', 'à«ƒ', 'à«…', 'à«‡', 'à«ˆ', 'à«‰', 'à«‹', 'à«Œ', 'à«',
                'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 
              'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 
              'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'à¤•', 'à¤–', 'à¤—', 'à¤˜', 'à¤š', 'à¤›',
              'à¤œ', 'à¤', 'à¤Ÿ', 'à¤ ', 'à¤¡', 'à¤¢', 'à¤£', 'à¤¤', 'à¤¥', 'à¤¦', 'à¤§', 'à¤¨', 'à¤ª', 'à¤«', 'à¤¬', 'à¤­', 'à¤®', 'à¤¯', 'à¤°', 
              'à¤²', 'à¤µ', 'à¤¶', 'à¤·', 'à¤¸', 'à¤¹',]
       # text_nonpunct = [c for c in text if c not in string.punctuation]
        text_nonpunct ="".join([c for c in text if c not in msg])
        return text_nonpunct
    
r['cleaned'] = r['comclean'].apply(lambda x: clean_text(x))
r.head()