# Read Data

In [1]:
import pandas as pd
dataset = pd.read_excel('all6600.xlsx')
dataset.head()

  LABEL                                            COMMENT
0    EP                            You are very beautiful.
1    OT                                   Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬
2    EP                                               Nice
3    GM  Atali Sundar mam as bakuda jode nathi sobhati .
4    EP          Nice video jitu bhai Ã°Å¸ËœÅ Ã°Å¸ËœÅ Ã°Å¸Â¤Â£Ã°Å¸â€˜â€˜Ã°Å¸â€˜Ë†

# Other Labels Only

In [2]:
r =dataset[dataset['LABEL'].isin(['OT'])]
r.head()

   LABEL                         COMMENT
1     OT                Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬
8     OT  Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹
22    OT                    Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°
31    OT                Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€
32    OT                    Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾

In [3]:

def clean_text(text):
        msg =['`',]
       # text_nonpunct = [c for c in text if c not in string.punctuation]
        text_nonpunct ="".join([c for c in text if c not in msg])
        return text_nonpunct
    
r['comclean'] = r['COMMENT'].apply(lambda x: clean_text(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   LABEL                         COMMENT                        comclean
1     OT                Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬                Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬
8     OT  Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹  Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹
22    OT                    Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°                    Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°
31    OT                Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€                 Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€
32    OT                    Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾                    Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
cv1 = CountVectorizer(analyzer=clean_text)

X = cv1.fit_transform(r['COMMENT'])
print(X.shape)

(322, 224)

In [5]:
print(cv1.get_feature_names())

['\n', ' ', '#', '(', ')', ',', '-', '.', '/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '=', '?', 'A', 'B', 'C', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', '_', 'a', 'b', 'c', 'd', 'e', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', '\x81', '\x8d', '\x8f', '\x90', '\x9d', '\xa0', 'Â¡', 'Â£', 'Â¤', 'Â¥', 'Â¦', 'Â§', 'Â¨', 'Âª', 'Â«', 'Â¬', '\xad', 'Â®', 'Â¯', 'Â°', 'Â²', 'Â³', 'Âµ', 'Â¶', 'Â·', 'Â¸', 'Â¹', 'Âº', 'Â»', 'Â¼', 'Â½', 'Â¾', 'Â¿', 'Ãƒ', 'Ã…', 'ÃŒ', 'Ã ', 'Ã¢', 'Ã¤', 'Ã¯', 'Ã°', 'Å’', 'Å“', 'Å ', 'Å¡', 'Å¸', 'Å½', 'Å¾', 'Æ’', 'Ë†', 'Ëœ', 'à¥‡', 'à¨‚', 'à¨†', 'à¨•', 'à¨—', 'à¨œ', 'à¨£', 'à¨¦', 'à¨¨', 'à¨ª', 'à¨²', 'à¨µ', 'à¨¸', 'à¨¹', 'à¨¾', 'à¨¿', 'à©‚', 'à©‡', 'à©ˆ', 'à©°', '\u200d', 'â€“', 'â€”', 'â€˜', 'â€™', 'â€š', 'â€œ', 'â€', 'â€', 'â€ ', 'â€¡', 'â€¢', 'â€¦', 'â€°', 'â€¹', 'â€º', 'â‚¬', 'â„¢', 'â™‚', 'â™¥', 'âœŒ', 'â£', 'â¤', 'ï¸', 'ğŸŒ', 'ğŸŒ¹', 'ğŸ€', 'ğŸ', 'ğŸ‚', 'ğŸ©', 'ğŸ¼', 'ğŸ¾', 'ğŸ‘ˆ', 'ğŸ‘‰', 'ğŸ‘‹', 'ğŸ‘Œ', 'ğŸ‘', 'ğŸ‘', 'ğŸ‘', 'ğŸ‘‘', 'ğŸ‘”', 'ğŸ‘¦', 'ğŸ‘§', 'ğŸ‘¨', 'ğŸ‘©', 'ğŸ’', 'ğŸ’', 'ğŸ’“', 'ğŸ’”', 'ğŸ’•', 'ğŸ’–', 'ğŸ’—', 'ğŸ’˜', 'ğŸ’œ', 'ğŸ’', 'ğŸ’', 'ğŸ”ª', 'ğŸ˜€', 'ğŸ˜', 'ğŸ˜‚', 'ğŸ˜ƒ', 'ğŸ˜„', 'ğŸ˜†', 'ğŸ˜‰', 'ğŸ˜Š', 'ğŸ˜', 'ğŸ˜', 'ğŸ˜”', 'ğŸ˜˜', 'ğŸ˜', 'ğŸ˜Ÿ', 'ğŸ˜ ', 'ğŸ˜¢', 'ğŸ˜£', 'ğŸ˜¤', 'ğŸ˜¥', 'ğŸ˜­', 'ğŸ˜´', 'ğŸ™‹', 'ğŸ™Œ', 'ğŸ™', 'ğŸš—', 'ğŸš©', 'ğŸ¤—', 'ğŸ¤', 'ğŸ¤Ÿ', 'ğŸ¤£', 'ğŸ¤©', 'ğŸ¤³']

# Remove charecter

In [6]:

def clean_text(text):
        msg =['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'à«¦', 'à«§', 'à«¨', 'à«©', 'à«ª', 'à««', 'à«¬', 'à«­', 'à«®', 'à«¯',
              'àª…', 'àª†', 'àª‡', 'àªˆ', 'àª‰', 'àªŠ', 'àª', 'àª', 'àª‘', 'àª“','àª•', 'àª–', 'àª—', 'àª˜', 'àª™', 'àªš', 'àª›', 'àªœ',
              'àª', 'àª', 'àªŸ', 'àª ', 'àª¡', 'àª¢', 'àª£', 'àª¤', 'àª¥', 'àª¦', 'àª§', 'àª¨', 'àªª', 'àª«', 'àª¬', 'àª­', 'àª®', 'àª¯', 'àª°',
              'àª²', 'àª³', 'àªµ', 'àª¶', 'àª·', 'àª¸', 'àª¹','àª¼', 'àª¾', 'àª¿', 'à«€', 'à«', 'à«‚', 'à«ƒ', 'à«…', 'à«‡', 'à«ˆ', 'à«‰', 'à«‹', 'à«Œ', 'à«',
                'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 
              'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 
              'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'à¤•', 'à¤–', 'à¤—', 'à¤˜', 'à¤š', 'à¤›',
              'à¤œ', 'à¤', 'à¤Ÿ', 'à¤ ', 'à¤¡', 'à¤¢', 'à¤£', 'à¤¤', 'à¤¥', 'à¤¦', 'à¤§', 'à¤¨', 'à¤ª', 'à¤«', 'à¤¬', 'à¤­', 'à¤®', 'à¤¯', 'à¤°', 
              'à¤²', 'à¤µ', 'à¤¶', 'à¤·', 'à¤¸', 'à¤¹',]
       # text_nonpunct = [c for c in text if c not in string.punctuation]
        text_nonpunct ="".join([c for c in text if c not in msg])
        return text_nonpunct
    
r['cleaned'] = r['comclean'].apply(lambda x: clean_text(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,LABEL,COMMENT,comclean,cleaned
1,OT,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬
8,OT,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹
22,OT,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°
31,OT,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€
32,OT,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾

In [7]:
#create feture: message length
r['sen_len1'] = r['COMMENT'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1
1,OT,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,16
8,OT,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,30
22,OT,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,12
31,OT,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,16
32,OT,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,12

In [8]:
#create feture: message length
r['sen_len2'] = r['comclean'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2
1,OT,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,16,16
8,OT,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,30,30
22,OT,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,12,12
31,OT,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,16,16
32,OT,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,12,12

In [10]:
#create feture: message length
r['sen_len3'] = r['cleaned'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2,sen_len3
1,OT,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,16,16,16
8,OT,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,30,30,30
22,OT,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,12,12,12
31,OT,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,16,16,16
32,OT,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,12,12,12

In [11]:
import re
def tokenize(txt):
    token = re.split('\s+',txt)
    return token

r['tokens'] = r['cleaned'].apply(lambda x: tokenize(x.lower()))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2,sen_len3,tokens
1,OT,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬Ã°Å¸Ëœâ‚¬,16,16,16,[Ã°Ã¿Ëœâ‚¬Ã°Ã¿Ëœâ‚¬Ã°Ã¿Ëœâ‚¬Ã°Ã¿Ëœâ‚¬]
8,OT,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹,30,30,30,[Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹Ã Âªâ€”Ã ÂªÂ§Ã Â«â€¡Ã ÂªÂ°Ã Â«â€¹]
22,OT,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°,12,12,12,[Ã Â¤Â¸Ã Â¥ÂÃ Â¤ÂªÃ Â¤Â°]
31,OT,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€ Ã°Å¸Ëœâ€,16,16,16,[Ã°Ã¿Ëœâ€ Ã°Ã¿Ëœâ€ Ã°Ã¿Ëœâ€ Ã°Ã¿Ëœâ€ ]
32,OT,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾,12,12,12,[Ã ÂªÂµÃ ÂªÂ¾Ã ÂªÂµÃ ÂªÂ¾]

In [12]:
len(r['tokens'].sum())

1335

In [13]:
r.shape

(322, 8)

In [14]:
r.to_excel("OT322@1335.xlsx")